<a href="https://colab.research.google.com/github/mflavioep/UNIVESP_DATASCIENCE/blob/main/COM360_Semana02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#UNIVESP COM360 14/06/2022
Aluno: Marcos Flávio
Tema: Limpeza de dados

In [1]:
import pandas as pd
import numpy as np

##Importação de dados externos

In [2]:
url = 'https://raw.githubusercontent.com/higoramario/univesp-com360-mineracao-dados/main/dados-covid-limpeza.csv'

In [3]:
casos_covid = pd.read_csv(url)
casos_covid.head(20)

    id  idade   uf renda  vacina
0    1   15.0   SP     C       1
1    2   38.0   MG   NaN       0
2    3   49.0   RJ     C       0
3    4   71.0   BA   NaN       0
4    5   58.0   MG     D       1
5    6   26.0   SP     B       0
6    7   87.0   BA   NaN       1
7    8   56.0   MG     A       1
8    9   74.0   BA   NaN       0
9   10   54.0   SP   NaN       0
10  11   22.0  NaN     C       1
11  12   38.0  NaN     C       0
12  13   14.0   RJ   NaN       1
13  14    NaN  NaN     C       0
14  15   84.0   RS     D       1
15  16    NaN  NaN   NaN       0
16  17    NaN   SP     E       0
17  18   68.0  NaN   NaN       0
18  19   61.0   sp     D       0
19  20    NaN   RS     E       1

Podemos verificar quais são os tipos de dados de cada coluna usando o comando abaixo (função info()). Para cada atributo, o resultado mostra o número de colunas não nulas e o tipo de dados. Por exemplo, o atributo idade tem 30 valores não nulos. Campos textuais são considerados como objetos.

In [4]:
casos_covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      50 non-null     int64
 1   idade   30 non-null     float64
 2   uf      29 non-null     object
 3   renda   31 non-null     object
 4   vacina  50 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 2.1+ KB

Podemos ver a análise descritiva (função describe()) desses dados olhando a distribuição dos dados. Por exemplo, a média de idade é 48 anos, com desvio-padrão de 22 anos. Já para os dados nominais (uf) e ordinais (renda), não temos esses valores. Como os dados do atributo vacina são binários, a média também não faz sentido.

In [5]:
casos_covid.describe()

             id      idade    vacina
count  50.00000  30.000000  50.00000
mean   25.50000  48.666667   0.30000
std    14.57738  22.197131   0.46291
min     1.00000  14.000000   0.00000
25%    13.25000  33.500000   0.00000
50%    25.50000  48.500000   0.00000
75%    37.75000  61.000000   1.00000
max    50.00000  87.000000   1.00000

Vamos olhar a quantidade de valores distintos desses atributos com a função value_counts().

In [6]:
casos_covid['uf'].value_counts()

SP    9
MG    5
BA    3
RS    3
RJ    2
PE    2
sp    1
ce    1
rj    1
CE    1
AM    1
Name: uf, dtype: int64

No atributo uf, há mais registros de São Paulo. Além disso, há registros de São Paulo e do Ceará em maiúsculo e minúsculo. Vamos fazer a padronização dos dados da coluna uf usando o método upper(). Isso vai mudar a contagem de registros por estado.

In [7]:
casos_covid['uf'] = casos_covid['uf'].str.upper()
casos_covid['uf'].value_counts()

SP    10
MG     5
RJ     3
BA     3
RS     3
CE     2
PE     2
AM     1
Name: uf, dtype: int64

Agora vamos olhar os valores de renda e vacina.

In [8]:
casos_covid['renda'].value_counts()

C    14
D     7
B     4
A     3
E     3
Name: renda, dtype: int64

In [9]:
casos_covid['vacina'].value_counts()

0    35
1    15
Name: vacina, dtype: int64

Podemos observar algumas características desses dados:
• 35 das 50 pessoas diagnosticadas com COVID-19 não tomaram vacina.
• Há mais pessoas da classe C entre os infectados.

Agora vamos fazer alguns pré-processamentos para imputar os valores ausentes na base de dados usando as características dos dados. Na coluna idade vamos usar a média para imputar os valores ausentes. Para isso, vamos usar a função fillna(), que preenche os valores nulos a partir de algum método, nesse caso, arredondando a média de idade, já que é um valor inteiro. Olhando a quantidade de registros por valores distintos, vemos o resultado da modificação.

In [10]:
casos_covid['idade'].fillna(round(casos_covid['idade'].mean()), inplace=True)
casos_covid['idade'].value_counts()

49.0    21
84.0     2
26.0     2
87.0     2
54.0     2
38.0     2
61.0     2
35.0     1
33.0     1
45.0     1
57.0     1
41.0     1
20.0     1
48.0     1
37.0     1
15.0     1
68.0     1
14.0     1
22.0     1
74.0     1
56.0     1
58.0     1
71.0     1
17.0     1
Name: idade, dtype: int64

Para preencher o campo uf, vamos usar o método de imputar o valor de acordo com a última observação. Para isso, vamos escolher a opção ffill na função fillna.
Olhando a contagem de registros por estado, podemos ver que a proporção foi minimamente mantida.

In [11]:
casos_covid['uf'].fillna(method="ffill",inplace=True)
casos_covid['uf'].value_counts()

SP    20
RJ     6
RS     6
MG     5
PE     5
CE     4
BA     3
AM     1
Name: uf, dtype: int64

Agora vamos fazer a imputação de renda usando o método de imputar o valor de acordo com a observação seguinte, que preenche os valores ausentes a partir da observação seguinte válida (ou para trás). Para isso, vamos escolher a opção bfill na função fillna.

In [13]:
casos_covid['renda'].fillna(method="bfill",inplace=True)
casos_covid['renda'].value_counts()

C    22
D    12
B     6
A     5
E     5
Name: renda, dtype: int64

Com isso, fizemos um processo de limpeza de dados, que pode ser verificado usando o método info() ou olhando o dataset inteiro.

In [14]:
casos_covid.info()
casos_covid.head(len(casos_covid))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      50 non-null     int64
 1   idade   50 non-null     float64
 2   uf      50 non-null     object
 3   renda   50 non-null     object
 4   vacina  50 non-null     int64
dtypes: float64(1), int64(2), object(2)
memory usage: 2.1+ KB

    id  idade  uf renda  vacina
0    1   15.0  SP     C       1
1    2   38.0  MG     C       0
2    3   49.0  RJ     C       0
3    4   71.0  BA     D       0
4    5   58.0  MG     D       1
5    6   26.0  SP     B       0
6    7   87.0  BA     A       1
7    8   56.0  MG     A       1
8    9   74.0  BA     C       0
9   10   54.0  SP     C       0
10  11   22.0  SP     C       1
11  12   38.0  SP     C       0
12  13   14.0  RJ     C       1
13  14   49.0  RJ     C       0
14  15   84.0  RS     D       1
15  16   49.0  RS     E       0
16  17   49.0  SP     E       0
17  18   68.0  SP     D       0
18  19   61.0  SP     D       0
19  20   49.0  RS     E       1
20  21   49.0  RS     D       1
21  22   35.0  SP     D       0
22  23   37.0  SP     C       1
23  24   48.0  RS     C       0
24  25   49.0  RS     C       0
25  26   49.0  CE     C       1
26  27   20.0  CE     B       0
27  28   49.0  SP     B       0
28  29   49.0  SP     D       0
29  30   41.0  RJ     D       1
30  31   49.0  RJ     B       0
31  32   87.0  RJ     A       0
32  33   49.0  SP     A       1
33  34   49.0  SP     C       0
34  35   26.0  CE     C       0
35  36   49.0  CE     C       1
36  37   49.0  SP     D       0
37  38   84.0  SP     C       0
38  39   49.0  SP     A       0
39  40   54.0  PE     B       0
40  41   61.0  PE     B       0
41  42   49.0  PE     C       0
42  43   49.0  SP     C       0
43  44   57.0  SP     C       0
44  45   45.0  SP     D       0
45  46   33.0  AM     D       0
46  47   49.0  PE     E       0
47  48   49.0  PE     E       0
48  49   49.0  MG     C       1
49  50   17.0  MG     C       0

Com isso, concluímos o exercício de limpeza de dados desta semana. Para praticar mais, sugerimos que você escolha um outro conjunto de dados do seu interesse e verifique se há necessidade de limpeza (geralmente isso acontece). Se for o caso, faça a limpeza utilizando o conteúdo que você aprendeu esta semana.
Algumas sugestões de bases são:
• Portal Brasileiro de Dados Abertos
• Basedosdados.org
• Kaggle